@use "./foundations/Landing";
@use "./foundations/PokemonDetails";
@use "./foundations/ErrorPage";
@import "./foundations/bootstrap";

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightyellow;
    text-align: center;
}